<!-- <a href="new_ride_register/"> new ride </a>
<a href="find_ride_register/"> find ride </a> -->

<!DOCTYPE html>
<html>
<head>
    <title>Your Page</title>
    <link rel="stylesheet" type="text/css" href="../static/navbar.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/new_ride_register/">Register a new ride</a>
            </li>
            <li>
                <a href="/find_ride_register/">Find a ride</a>
            </li>
            <li>
                <a href="/displayRide/">Display a ride</a>
            </li>
        </ul>
    </nav>

    <!-- Rest of your HTML content here -->
    {% block content %}
    {% endblock %}
</body>
</html>